@import "tailwindcss";

.section-slide {
  will-change: transform;
}

/* When the section comes into view */
/* .active-section {
  transform: translateY(0) !important;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
 */

@keyframes marquee {
  from { transform: translateX(0%); }
  to { transform: translateX(-100%); }
}

@keyframes marquee2 {
  from { transform: translateX(100%); }
  to { transform: translateX(0%); }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 15s linear infinite;
}